div {
    box-sizing: border-box
}
.square-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}
.square {
    flex: 1 1 30%;
    aspect-ratio: 1 / 1;
    border: 3px solid #fff;
    background-color: inherit;
}
.main .hide {
    display: none;
}
.main .true .false {
    display: none;
}
.main .false .true {
    display: none;
}
span.false {
    color: brown;
}
span.true {
    color: lightgreen;
}